html, body{
	margin: 0px;
	height: 100% !important;

}
body{
	background: url("bg.jpg");
}
.navbar-brand{
	font-family: 'Montserrat', sans-serif;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
    color: #fff;
    font-size: 50px !important;
    padding-top: 65px !important;
}
.navbar-brand:hover{
    color: #d3d3d3;
}
.navbar-custom{
	background:  rgba(0,0,0,0.7);
    height: 150px;
}

.navbar-nav li a{
	line-height: 150px;
    height: 150px;
    padding-top: 65px !important;
    padding-right: 50px !important;
    font-family: 'Montserrat', sans-serif;
    color: #009688 !important;
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
	background-color: rgba(0,0,0,0.7);
	color: #009688;
}
#face{
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	border-color: #009688;
	width: 150px;
	height: 150px;
}
#bho{
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}
.amazing{
	display: table;
	text-align: center;
	width: 100%;
	height: 100%;
	position: relative;
	  	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	background-size: cover;
 	-o-background-size: cover; 
}
@media {

}
.icon-bar{
	background-color: #009688;
}
p{
	font-family: 'Raleway', sans-serif;
}
.modal-title{
	font-family: 'Montserrat', sans-serif;
	color: #009688;
}
.fa-bars{
	color: #009688;
	line-height: 150px;
    height: 50px;
    padding-top: 40px !important;
    padding-right: 50px !important;
    font-family: 'Montserrat', sans-serif;
}
ul{
	list-style-type: none;
}
.fa{
	color:white;
}
#facetitle{
	width: 350px;
	height: 350px;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	border-color: #009688;
}