body{
	background: url("bg.jpg");
	width: 100%;
	height: 100%;
}
.navbar-brand{
	font-family: 'Montserrat', sans-serif;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
    color: #fff;
    font-size: 50px !important;
    padding-top: 65px !important;
    padding-right: 50px !important;
}
.navbar-brand:hover{
    color: #d3d3d3;
}
.navbar-custom{
	background:  rgba(0,0,0,0.7);
		min-height: 1000px;
}

.navbar-nav li a{
	   line-height: 150px;
    height: 150px;
    padding-top: 65px !important;
    padding-right: 50px !important;
    font-family: 'Montserrat', sans-serif;
    color: #009688 !important;
}
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
	background-color: rgba(0,0,0,0.7);
}
#face{
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	border-color: #009688;
	 width: 150px;
	 height: 150px;
}
#bho{
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}
.container{
display: table;
}